.shop-page{
font-family:Arial, sans-serif;
padding:40px;
position:relative;
}

/* логотип */

.logo{
position:absolute;
top:20px;
left:40px;
width:120px;
}

/* правая панель */

.right-panel{
position:fixed;
right:0;
top:20px;
display:flex;
flex-direction:column;
gap:20px;
background:#f5f5f5;
padding:20px;
border-radius:10px 0 0 10px;
}

.panel-icon{
width:35px;
cursor:pointer;
transition:0.2s;
}

.panel-icon:hover{
transform:scale(1.1);
}

/* поиск */

.search-bar{
margin-bottom:30px;
}

.search-bar input{
width:300px;
padding:10px;
font-size:16px;
border-radius:6px;
border:1px solid #ccc;
}

/* бренды */

.brands{
display:flex;
gap:20px;
margin-bottom:40px;
justify-content:center;
flex-wrap:wrap;
}

.brand-pill{
padding:8px 18px;
border-radius:20px;
border:1px solid #ddd;
cursor:pointer;
font-size:14px;
transition:0.2s;
}

.brand-pill:hover{
color:#6B3E1E;
border-color:#6B3E1E;
}

/* контейнер */

.shop-container{
display:flex;
gap:40px;
}

/* фильтры */

.filters{
width:200px;
margin-top:120px;
}

.filters-title{
font-size:22px;
margin-bottom:20px;
}

.filters h3{
margin-top:25px;
margin-bottom:10px;
font-size:16px;
}

.filters label{
display:block;
margin-bottom:8px;
cursor:pointer;
font-size:14px;
}

.filters hr{
margin:20px 0;
border:none;
height:1px;
background:#ddd;
}

/* товары */

.products-section{
flex:1;
}

/* сортировка */

.sort-box{
width:250px;
margin-bottom:30px;
border:1px solid #ccc;
border-radius:6px;
overflow:hidden;
}

.sort-header{
padding:12px;
cursor:pointer;
background:white;
font-size:14px;
}

.sort-options div{
padding:12px;
cursor:pointer;
font-size:14px;
}

.sort-options div:hover{
background:#eee;
}

/* сетка */

.products-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:40px;
}

/* карточка */

.product-card{
padding:15px;
border:2px solid transparent;
transition:all 0.2s ease;
background:white;
}

.product-card:hover{
border:2px solid #6B3E1E;
}

/* картинка */

.product-card img{
width:100%;
height:260px;
object-fit:contain;
}

/* название */

.product-card h4{
margin:12px 0;
font-size:16px;
}

/* цена */

.price-row{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:10px;
}

.price-row span{
font-size:16px;
font-weight:600;
}

/* кнопка */

.price-row button{
padding:8px 14px;
border:1px solid #6B3E1E;
background:white;
color:#6B3E1E;
cursor:pointer;
border-radius:6px;
font-size:14px;
transition:0.2s;
}

.price-row button:hover{
background:#6B3E1E;
color:white;
}